{% extends "plan/layout.html" %}

{% block body %}

<div id="register-part">

    <h4>Register</h4>

    {% if message %}
    <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post" id="register-form">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <div class="form-group" id="register-form-group">
            <input class="btn register-button btn-outline-primary" type="submit" value="Register">
        </div>
    </form>

    <div>
        Already have an account? <a href="{% url 'login' %}">Log In here.</a>
    </div>
</div>

{% endblock %}